***********************************************************************
*                                                                     *
{% block legal -%}
{{ hardening_pamd_legal_notice }}
{%- endblock -%}
*                                                                     *
{% block personal -%}
{{ hardening_pamd_personal_notice }}
{%- endblock -%}
*                                                                     *
***********************************************************************
