[default]
banaction = ufw
ignoreip = {% for ip in hardening_fail2ban_whitelist %}{{ ip }} {% endfor %}

[sshd]
enabled = true
port = {{ designated_port }}
filter = sshd
logpath = /var/log/auth.log
maxretry = 5
findtime = 43200
bantime = 86400

[sshdlongterm]
enabled = true
port = {{ hardening_designated_port | default(ansible_port, true)}}
filter = sshd
maxretry  = 20
findtime  = 259200
bantime   = 608400

[sshdhoneypot]
enabled = true
port = 22
filter = sshd
maxretry  = 5
findtime  = 86400
bantime   = 14688000
